---
import BaseLayout from "../layouts/BaseLayout.astro";
import FactionCard from "../components/FactionCard.astro";
import { facciones } from "../data/factions";

//Agrupar por bando y ordenar cada grupo por nivel descendiente
const ordenBando = ["luz", "neutral", "oscuridad"];

const faccionesOrdenadas = ordenBando.flatMap(bando =>
  facciones
    .filter(f => f.bando === bando)
    .sort((a, b) => b.nivel - a.nivel)

);
---

<BaseLayout title="Facciones">
  <main class="py-10 px-4 max-w-6xl mx-auto">
    <h1 class="text-center text-4xl font-bold mb-10 text-primary font-serif">Facciones de Las fauces del Vórtice</h1>

    <div class="flex flex-wrap justify-center gap-6 items-stretch">
      {/* @ts-ignore */}
      {faccionesOrdenadas.map((faccion) => (
        <FactionCard 
          nombre={faccion.nombre}
          imagen={faccion.imagen}
          bando={faccion.bando}
          nivel={faccion.nivel}
        >
          <ul slot="descripcion" class="list-disc list-inside space-y-1">
            {faccion.descripcion.map(punto => <li>{punto}</li>)}
          </ul>

          <div slot="relojes" class="space-y-2">
            {faccion.relojes.map(reloj => (
              <div class="flex items-center gap-3">
                <img src={reloj.imagen} alt={reloj.nombre} class="w-8 h-8 object-contain" />
                <span class="text-sm text-secondary">{reloj.nombre}</span>
              </div>
            ))}
          </div>
        </FactionCard>
      ))

      }
    </div>
  </main>
</BaseLayout>