---
const { nombre, slug, raza, rol, imagen, detalle } = Astro.props;
---
<a href={`/characters/${slug}`} class="block">
  <div class="bg-surface hover:bg-secondary p-6 rounded-lg shadow-md border border-secondary/30 flex flex-col items-center text-center h-full transition-all duration-300 ease-in-out hover:-translate-y-1 hover:shadow-xl">

    <!-- Imagen superior -->
    <div class="flex justify-center items-center h-28 mb-4">
      <img src={imagen} alt={nombre} class="max-h-full object-contain" loading="lazy" />
    </div>

     <!-- Texto descriptivo -->
    <div class="flex flex-col justify-start flex-grow text-center items-center">
      <h2 class="text-xl font-bold text-primary">{nombre}</h2>
      <p class="text-sm text-accent italic">{raza} — {rol}</p>
      <p class="text-sm text-base mt-3">{detalle}</p>
    </div>
  </div>
</a>